html,
body{
    background: url('../images/large.jpg');
    background-position-x: 50%;
    background-position-y: -50%;
    background-repeat: no-repeat;
    background-color:#010101;
}

.health-points{
    background: white;
    color: black;
}
img{
    width: 100%;
}

button{
    margin-top: 10px;
}
#instructions{
    color: white;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 20px;
    margin-left:0px;
}

#game-progress-user,
 #game-progress-enemy {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
}

